doctype html
html(lang="en-US", ng-app="dizu")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        meta(name="format-detection" content="telephone=no")
        meta(name="google", value="notranslate")
        title 郵遞區號
        if local
            link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
            link(rel="stylesheet", href="/static/dizu.min.css")
        else
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
            link(rel="stylesheet", href="http://cdn.lihengl.com/dizu/0.1.0/dizu.min.css")
        link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
        link(href="/favicon.ico", type="image/x-icon", rel="icon")
    body(ng-controller="postal")
        h1(ng-bind="message") 讀取中
        if local
            script(type="text/javascript", src="/bower_components/jquery/dist/jquery.min.js")
            script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
            script(type="text/javascript", src="/bower_components/angular/angular.min.js")
            script(type="text/javascript", src="/static/dizu.min.js")
        else
            script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
            script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
            script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js")
            script(type="text/javascript", src="http://cdn.lihengl.com/dizu/0.1.0/dizu.min.js")

